@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color:hsl(47, 88%, 63%);
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog_card{
    background-color: white;
    width: 320px;
    padding: 16px;
    border-radius: 20px;
    text-align: left;
    box-shadow: 8px 8px 0 black;
    border: 1px solid black;
}
.blog_image img{
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
}
.text_group_one h5{
    background-color:hsl(47, 88%, 63%); 
    border-radius: 4px;
    padding: 5px 7px 5px 7px;
    margin-bottom: 10px;
    display: inline-flex;
    font-weight: 800;
    font-size: 12px;   
}
.text_group_one p{
    color:  hsl(0, 0%, 7%);
    margin-bottom: 12px;
    font-size: 11px;
    font-weight: 600;
}
.text_group_two h3{
    color:  hsl(0, 0%, 7%);
    margin-bottom: 15px;
    font-weight: 900;
}
.text_group_two p{
    color:  hsl(0, 0%, 42%);
    font-size: 14px;
    margin-bottom: 20px;
}
.author{
    display: inline-flex;
    align-items: center; 
    gap: 10px;
}
.avatar_image img{
    width: 25px;
}
.author p{
    font-size: 12px;
    font-weight: 800;
}
